<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>detail</title>
</head>
<body>

<table>
  <tr>
    <th>id</th>

    <td th:text="${board.id}"></td>
  </tr>
  <tr>
    <th>title</th>
    <td th:text="${board.boardTitle}"></td>
  </tr>
  <tr>
    <th>writer</th>
    <td th:text="${board.boardWriter}"></td>
  </tr>
  <tr>
    <th>content</th>
    <td th:text="${board.boardContents}"></td>
  </tr>
  </table>
<button onclick="updateReq()">수정</button>
<button>삭제</button>
<button onclick="listReq()">뒤로</button>
</body>
<script>

   const listReq = () => {
        location.href="/board/list";
        }

   const updateReq = () =>{
    const boardId = [[${board.id}]]; // 게시글의 id값을 가져옵니다.
    location.href = "/board/update?id=" + boardId;
   }

</script>>
</html>