<!---글작성페이지---->

<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>작성페이지</title>
</head>
<body>
<!--action속성: 목적지(서버주소), method속성: http request method(get, post)-->
<!--사용자가 입력한 name값을 action에 지정한 url로 전달-->
<form id="saveForm" action="/board" method="post" enctype="multipart/form-data">
    writer: <input type="text" name="boardWriter"> <br>
    pass: <input type="text" name="boardPass"> <br>
    title: <input type="text" name="boardTitle"> <br>
    contents: <textarea name="boardContents" cols="30" rows="10"></textarea> <br>
    <input type="hidden" name="createdTime" th:value="${#temporals.format(#temporals.createNow(), 'yyyy-MM-dd HH:mm:ss')}" />
    <button onclick="savePost()">저장</button>
    <button onclick="listReq(event);">글목록</button>
</form>

</body>

<th:block layout:fragment="script">

    <!--자바 스크립트 내에서 타임리프 문법 사용-->
    <script th:inline="javascript" >

    //페이지가 로딩되는 시점에 단 한번만 실행되는 코드.
    //상제 페이지는 접속했을 때 한번만 보여주면 되기 때문에 해당 이벤트를 이용하여 작성.
    window.onload = () => {
        renderPostInfo();
    }

    // 게시글 상세정보 렌더링
    function renderPostInfo() {
        const boardList = [[${boardList}]];

        //saveForm에서 fields에 선언한 필드를 찾아 정보를 렌더링
        const form = document.getElementById('saveForm');
        const fields = ['id', 'boardWriter','boardTitle', 'boardContents'];

        fields.forEach(field => {
            form[field].value = boardList.id[field];
        })
    }

            // 게시글 저장(수정)
            function savePost() {
                const form = document.getElementById('saveForm');
                const fields = [form.boardTitle, form.boardWriter, form.boardContents, form.createdTime];
                const fieldNames = ['제목', '이름', '내용', '날짜'];

                for (let i = 0, len = fields.length; i < len; i++) {
                    isValid(fields[i], fieldNames[i]);
                }

                form.submit();
            }

        /*]]>*/

     function listReq(event){
     event.preventDefault()
        location.href="/board/list";
        }
        </script>

</th:block>


</html>