<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--sql 쿼리 선언 후, PostMapper를 통해 sql 쿼리 호출-->

<!--인터페이스 Mapper의 경로 선언-->
<mapper namespace="com.studyproject.board.post.PostMapper">

    <!-- db_table 테이블 전체 컬럼 -->
    <sql id="postColumns">
        id
        , board_writer
        , board_pass
        , board_title
        , board_contents
    </sql>

    <!-- 게시글 저장 -->
    <insert id="save" parameterType="com.studyproject.board.post.PostRequest">
        INSERT INTO board_table (
        board_contents,
        board_pass,
        board_title,
        board_writer,
        created_time)

        VALUES (
        #{boardContents},
        #{boardPass},
        #{boardTitle},
        #{boardWriter},
        NOW())
    </insert>


    <!-- 게시글 상세정보 조회 -->
    <select id="findById" parameterType="java.lang.Long" resultType="com.studyproject.board.post.PostResponse">
        SELECT
        <include refid="postColumns" />,
        created_time,
        updated_time,
        hits
        FROM board_table
        WHERE id = #{id}
    </select>

    <!-- 게시글 수정 -->
    <update id="update" parameterType="com.studyproject.board.post.PostRequest">
        UPDATE board_table SET
        created_time = #{createdTime},
        updated_time = #{updatedTime},
        hits = #{hits},
        board_contents = #{boardContents},
        board_pass = #{boardPass},
        board_title = #{boardTitle},
        board_writer = #{boardWriter}
        WHERE id = #{id}
    </update>

    <!-- 게시글 삭제 -->
    <select id="deleteById" resultType="com.studyproject.board.post.PostResponse">
        SELECT * FROM board_table
    </select>


    <!-- 게시글 리스트 조회 -->
    <select id="findAll" resultType="com.studyproject.board.post.PostResponse">
        SELECT
        <include refid="postColumns" />,
        created_time,
        updated_time,
        hits
        FROM board_table
    </select>

    <select id="count" parameterType="com.studyproject.board.dto.SearchDTO" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM board_table
    </select>

</mapper>